body {
  background-color: #000000;
  font-family: "Nunito", sans-serif;
}

/* Navbar */
#mainNavbar .navbar-brand {
  padding-left: 20px;
  margin-right: 0.6rem;
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .navbar-nav {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #f0e130;
}

/* navbar scroll */
.navbar.scrolled {
  background-color: #000000;
}
/* Section-1 */
#heading-group span {
  color: #f0e130;
}

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}

/* section-2 */
.blurb h2 {
  color: #f0e130;
  font-size: 50px;
  font-weight: 100;
}
.blurb p {
  line-height: 1.7;
}

/* Section -2 : Rows */
.content {
  margin-top: 100px;
}

/* Media */
@media (max-width: 1440px) {
  #heading-group h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
